<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Subject | RegCN</title>
    <link rel="stylesheet" href="Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <div class="box">
        <header style="background-color: lightgray;">
            <a href="#">หน้าหลัก</a>
            <a href="#">ข้อมูลส่วนตัว</a>
            <a href="#">ขอโควต้ารายวิชา</a>
        </header>
        <h1>รายวิชาของฉัน</h1>
        <h2>อะไรดี</h2>
        <p>NickName : LeeVan <br>
            My Age : 19 <br>
            My University ID : 6610685130 <br>
            Current Education level/Institution : 2nd year in Thammasat university <br>
            Faculty : Engineering <br>
            Major : Computer Engineering <br>
        </p>


    </div>
    <footer style="background-color: lightgray;">
        <a>มีไว้ก่อน</a>
    </footer>



</body>


</html>